# credentials and target user
.env

# virtual environment
venv/

# pycache
__pycache__/

# cookies
instagram_cookies.json

# database
instagram_tracker.db
data/followers.json
data/followings.json

# windsurf rules
.windsurfrules
